{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="container">
		<div class='row center mb-3'>
			Bienvenue
		</div>
		<div class='row center mb-3'>
			<a href='{{ path('todo_index')}}'>To do</a>
		</div>
	</div>

{% endblock %}